################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
obj
bin

/Server

/ScavengerGuide/Library/*
/ScavengerGuide/ScavengerGuide_Data/*
/ScavengerGuide/Temp/*
/ScavengerGuide/Assets/Standard Assets/*


*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
.vscode
